.business_hours {
  margin-bottom: 24px;
  .inner_container {
    background-color: #2e2e2e;
    margin: 0 0 40px;
    padding: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
}
