.business_reviews {
  .reviews_main {
    background-color: #2e2e2e;
    margin: 0 0 40px;
    padding: 20px;
    font-size: 16px;
  }

  .btn_top {
    margin-bottom: 40px;
  }

  .review {
    border-bottom: 1px solid #fff3;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .top_row {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(lg) {
      align-items: center;
    }
  }

  .name {
    color: #2cb75f;
    margin-right: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px;
  }

  .date {
    color: #7a7a7a;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: auto;
    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }

  .rating {
    display: flex;
    width: 100%;
    margin-top: 5px;
    align-items: center;
    color: #7a7a7a;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    @include media-breakpoint-up(lg) {
      width: auto;

      margin-left: auto;
      margin-top: 0;
    }

    .rating_text {
      margin-right: 16px;
    }

    .stars {
      display: flex;
      gap: 4px;
    }

    .star {
      width: 100%;
      max-width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: gold;
    }
  }

  .bottom_row {
    font-size: 16px;
    margin-top: 8px;
  }
}
