.business_star_ratings {
  display: flex;

  .star_reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-right: 8px;
  }

  .star {
    width: 100%;
    max-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
  }

  div {
    font-size: 12px;
    color: #7a7a7a;
  }
}
