.gallery {
  margin-bottom: 24px;
  background: #2e2e2e;
  padding: 10px;
  .gallery_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 24px;
  }

  .gallery_item {
    width: 100%;
    max-width: calc(25% - 10px);

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      aspect-ratio: 1/1;
    }
  }

  .pdf_links {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
    a {
      display: flex;
      align-items: center;
      color: #32cd32;
    }

    .icon {
      max-width: 32px;
      margin-right: 16px;
      height: auto;
    }
  }
}
