.no_businesses_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  .logo {
    max-width: 100px;
    margin-bottom: 24px;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  p {
    text-align: center;
  }

  .btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .intro {
    margin-bottom: 45px;
  }
}
