.paid_adverts_list {
  margin-top: 40px;
  .advert_category_section {
    margin-bottom: 24px;
    border-bottom: 2px solid #2cb75f;
    background: #000;
    padding: 10px;
  }

  .section_title {
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 120%;
    }
  }

  .account_selector {
    margin-top: 0;

    &.expired {
      opacity: 0.5;
    }

    .section_title {
      margin-top: 24px;
    }
  }
}
