/*!
 * Main Stylesheet
 * Compiled from SCSS with Webpack
 */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "global/fonts";
@import "global/colors";
@import "global/typography";
@import "global/variables";
@import "global/global";
@import "global/form";
@import "global/loader";
@import "global/message_notice";
@import "global/modal";
@import "global/button_component";
// @import "global/not_found";

@import "global/navigation";
@import "global/site_filter";

@import "global/footer";

@import "global/page_wrapper";
@import "global/sidebar";

// Layout components

// Blocks

// Pages
@import "pages/content/content_page";

// Home
@import "pages/home/featured_business_banner";
@import "pages/home/featured_business_logo";
@import "pages/home/quotes";

// Single Quote
@import "pages/single_quote/single_quote";

// Single Business
@import "pages/single_business/single_business_page_wrapper";
@import "pages/single_business/business_star_ratings";

@import "pages/search/search_listings_wrapper";
@import "pages/search/business_listing_item";

// My Account
@import "pages/my-account/no_businesses_container";
@import "pages/my-account/my_business_list";

@import "pages/my-account/manage/paid_blocks";
@import "pages/my-account/adverts/advert_category_section";

// Manage Single Business
@import "pages/my-account/single-business/manage_single_business";

@import "auth/auth_pages_main";

// Components
