.business_listing_item {
  background: #000;
  padding: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &.premium {
    &:before {
      content: "";
      background-image: url(/img/premium.png);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 90px;
      height: 50px;
      position: absolute;
      top: -17px;
      left: -35px;
      transform: rotate(-45deg);
    }
  }

  .col {
    width: 100%;
  }

  .col_left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      max-width: 22%;
      margin-bottom: 0;
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  .col_middle {
    @include media-breakpoint-up(lg) {
      max-width: calc(56% - 16px);
      margin-left: 16px;
    }
  }

  .col_right {
    @include media-breakpoint-up(lg) {
      max-width: calc(22% - 16px);
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }
  }

  h3 {
    margin-bottom: 16px;
    a {
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      font-family: BankGothic;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .motto {
    color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .address {
    display: flex;
    align-items: center;
    color: #b9db96;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;

    .icon {
      max-width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
  }

  .description {
    width: 100%;
    p {
      color: #e6e6e6;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      word-break: break-all;
    }
  }

  .btn_group {
    width: 100%;
    flex-wrap: wrap;
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: auto;
    }

    .call {
      order: 2;
      @include media-breakpoint-up(lg) {
        order: 1;
        margin-left: auto;
        margin-bottom: 24px;
      }
      a {
        width: 38px;
        height: 38px;
        background: #fff;
        display: flex;
        color: #32cd32;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 100%;
          height: auto;
          max-width: 28px;
        }
      }
    }

    .get_quote_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      position: relative;
      @include media-breakpoint-up(lg) {
        margin-bottom: 16px;
        order: 2;
      }

      .attachment {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;

        @include media-breakpoint-up(lg) {
          justify-content: flex-end;
          position: absolute;
          top: -60px;
          left: 0;
        }

        a {
          color: #b9db96;
          font-size: 12px;
          line-height: 100%;
        }
      }
    }

    .get_a_quote_button {
      display: flex;
      white-space: nowrap;
      color: #fff;
      align-items: center;
      border-radius: 5px;

      text-align: center;
      justify-content: center;

      order: 1;
      clear: both;
      @include media-breakpoint-up(lg) {
        margin-left: auto;

        order: 2;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 6px;
        background: #000;
        padding: 5px;
        max-width: 35px;
        height: 35px;
        border-radius: 4px;
      }
    }

    .more-details {
      background: none !important;
      padding: 0;
      margin-left: auto;
      width: 100%;
      max-width: 190px;
      order: 3;
      @include media-breakpoint-up(lg) {
        max-width: 140px;
      }
    }
  }

  .gallery_swiper_container {
    width: 100%;
    margin-top: 24px;
    position: relative;

    .swiper-slide {
      height: auto;
    }

    .gallery_item {
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #333;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slider_nav {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 10px;
    align-items: center;

    .slider-button-prev,
    .slider-button-next {
      width: 100%;
      max-width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slider-pagination {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #7a7a7a;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: #32cd32;
      }
    }
  }
}
