.business_listing_item {
  background: #000;
  padding: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &.premium {
    &:before {
      content: "";
      background-image: url(/img/premium.png);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 90px;
      height: 50px;
      position: absolute;
      top: -17px;
      left: -35px;
      transform: rotate(-45deg);
    }
  }

  .col {
    width: 100%;
  }

  .col_left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      max-width: 22%;
      margin-bottom: 0;
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  .col_middle {
    @include media-breakpoint-up(lg) {
      max-width: 56%;
    }
  }

  .col_right {
    @include media-breakpoint-up(lg) {
      max-width: 22%;
      display: flex;
      flex-direction: column;
    }
  }

  h3 {
    margin-bottom: 16px;
    a {
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      font-family: BankGothic;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .motto {
    color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .address {
    display: flex;
    align-items: center;
    color: #b9db96;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;

    .icon {
      max-width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
  }

  .description {
    p {
      color: #e6e6e6;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .attachment {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }

    a {
      color: #1d1d1d;
      background: #b9db96;
      border-radius: 5px;
      margin: 0 5px 5px;
      padding: 0 6px;
      font-size: 12px;
    }
  }

  .btn_group {
    width: 100%;
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: auto;
    }

    .get_a_quote_button {
      display: flex;
      white-space: nowrap;
      color: #fff;
      align-items: center;
      border-radius: 5px;
      @include media-breakpoint-up(lg) {
        margin-left: auto;
        margin-bottom: 16px;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 6px;
      }
    }

    .more-details {
      background: none !important;
      padding: 0;
      margin-left: auto;
      width: 100%;
      max-width: 50%;
      @include media-breakpoint-up(lg) {
        max-width: 140px;
      }
    }
  }

  .gallery_swiper_container {
    width: 100%;
    margin-top: 24px;
    position: relative;

    .swiper-slide {
      height: auto;
    }

    .gallery_item {
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #333;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slider_nav {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 10px;
    align-items: center;

    .slider-button-prev,
    .slider-button-next {
      width: 100%;
      max-width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slider-pagination {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #7a7a7a;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: #32cd32;
      }
    }
  }
}
