.form_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #2e2e2e;
  border-radius: 6px;
  padding: 20px;
  gap: 16px;

  .form_row {
    width: 100%;
  }

  label {
    @include robot(600, 14, 120%);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    @include robot(400, 16, 120%);
    margin: 0;
    outline: none;
    color: #fff;
    background: #1f1f1f;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    width: 100%;
    padding: 10px 12px;
  }

  .btn_group {
    max-width: calc(50% - 16px);
    button {
      @include bell(400, 12, 22px);
      color: #000;
      background: #32cd32;
      padding: 8px 16px;
      text-transform: uppercase;
    }
  }

  .form_links {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    a {
      @include bell(400, 12, 22px);
      color: #32cd32;
      margin-left: auto;
    }
  }

  .page_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    .breaker {
      @include bell(400, 16, 22px);
      text-transform: uppercase;
      color: #fff;
    }

    a {
      @include bell(400, 16, 22px);
      color: #32cd32;
      margin-left: auto;
      margin-top: 32px;
    }
  }
}
