// .form_wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;

//   .form_wrapper {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .form_row {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//   }

//   .input_wrapper {
//     display: flex;
//     flex-direction: column;
//     background: #fff;
//     box-shadow: 0 0 5px -3px $dark-blue;
//     padding: 15px 15px 10px;
//     border-radius: 8px;
//     margin-bottom: 16px;
//   }

//   .input_inner {
//     width: 100%;
//     display: flex;
//     align-items: center;

//     .icon {
//       width: 100%;
//       max-width: 28px;
//       margin-left: auto;
//       height: auto;
//     }
//   }

//   label {
//     @include mont(600, 14, 100%);
//     color: $blue;
//     text-transform: uppercase;
//   }

//   input {
//     background: none;
//     @include karla(600, 16, 100%);
//     padding: 0;
//     margin: 0;
//     height: 35px;
//     box-shadow: none;
//     border: none;
//     outline: none;
//   }

//   .custom-button {
//     margin-right: 0 !important;
//   }

//   .page_actions {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     width: 100%;
//     margin-top: 50px;
//     padding-top: 50px;
//     position: relative;

//     &:before {
//       content: "";
//       width: 100%;
//       height: 2px;
//       background: $blue;
//       position: absolute;
//       top: 0;
//       left: 0;
//     }

//     .breaker {
//       @include mont(600, 16, 120%);
//       margin-bottom: 10px;
//     }

//     .breaker_inner {
//       margin-bottom: 60px;
//     }
//   }
// }
