// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include robot(normal, 16, 26px);
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  // background-image: url("/img/site_bg.png");
  // background-repeat: repeat;
  // background-size: 500px auto;
}

// Basic layout container
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;
  position: relative;
}

// Links
a {
  color: #fff;
  text-decoration: none;
  @include transition($transition-base);

  // &:hover {
  //   color: $dark-blue;
  // }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

// Images
img {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.icon {
  width: 100%;
  max-width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

// h1 {
//   @include h1();
// }
// h2 {
//   @include h2();
// }
// h3 {
//   @include h3();
// }
// h4 {
//   @include h4();
// }
// h5 {
//   @include h5();
// }
// h6 {
//   @include h6();
// }

button,
a,
input,
select,
textarea {
  touch-action: manipulation;
}

/* Prevent iOS zoom on input focus */
input,
select,
textarea {
  font-size: 16px;
}

.back_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  color: #fff;
  cursor: pointer;

  .icon {
    display: flex;
    color: #32cd32;
    margin-right: 8px;
  }
}

.mobile_get_quote {
  display: flex;
  align-content: inherit;
  justify-content: center;
  margin-bottom: 24px;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  a {
    display: flex;
    align-items: center;
    background: #32cd32;
    padding: 10px 15px;
    border-radius: 5px;

    .icon {
      background: #000;
      width: 100%;
      padding: 4px;
      border-radius: 4px;
      margin-right: 12px;
    }
  }
}

.buy_link_wrapper {
  display: flex;
  margin-top: 16px;
  .buy_link {
    color: #fff;
    text-decoration: underline;
    background: #b9db96;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
  }
}
