.loader_container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 90;

  &.section_loader {
    position: relative;
    height: auto;
    padding: 16px;
    background: none;
  }
  &.relative {
    position: relative;
    height: auto;
    background: none;
  }
  &.small {
    .loader {
      width: 30px;
      height: 30px;
      border-width: 2px;

      &:after {
        width: 12px;
        height: 12px;
        border-width: 2px;
      }
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 3px dotted green;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #fff;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
