.message_notice {
  display: flex;
  background: #fff;
  border-radius: 8px;
  border: 1px solid;
  padding: 16px;
  margin-bottom: 24px;
  width: 100%;

  &.success {
    border-color: #32cd32;
    background: #ecfdf3;
    .icon {
      color: #32cd32;
    }
  }

  &.error {
    border-color: #ff0000;
    background: #fef3f2;
    .icon {
      color: #ff0000;
    }
  }

  &.notice {
    border-color: #2271b1;
    background: #f0f9ff;
    .icon {
      color: #2271b1;
    }
  }

  .message_body_wrapper {
    margin-left: 16px;
  }

  .message_title {
    // @include mont(600, 16, 120%);
    margin-bottom: 4px;
    color: #000;
  }

  .message_body {
    color: #000;
    font-size: 14px;
  }
}
