.page_modal {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(54, 54, 54, 0.7);
  }
  // test
  .modal_overlay {
    position: relative;
    z-index: 6;
    width: 100%;
    max-width: 640px;
    height: auto;
    max-height: calc(100dvh - 48px);
    overflow: auto;
    padding: 0 16px;
  }
  .modal_inner {
    background: #000;
    border-radius: 24px;
  }
  .modal_header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px;

    h5 {
      color: #2cb75f;
      font-display: swap;
      font-family: "BankGothic";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 20px;
      margin-left: 0;
      word-spacing: -5px;
    }

    .close_button {
      margin-left: auto;
      width: 100%;
      max-width: 32px;
      height: 32px;
      border-radius: 100px;
      color: #2cb75f;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        max-width: 28px;
      }
    }
  }
  .modal_body {
    padding: 0 16px 16px;
  }

  .btn_group {
    gap: 16px;
  }

  //
  .gallery_modal_content {
    .modal_swiper {
      padding-bottom: 40px;
      position: relative;

      .modal_image_container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        border-radius: 8px;
        overflow: hidden;
      }

      .swiper-button-prev,
      .swiper-button-next {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 10;

        &::after {
          display: none;
        }

        &:hover {
          background: #32cd32;
          color: #000;
        }

        svg {
          fill: none;
        }
      }

      .swiper-button-prev {
        left: 10px;
      }

      .swiper-button-next {
        right: 10px;
      }

      .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.5;

        &-active {
          background: #32cd32;
          opacity: 1;
        }
      }
    }
  }
}
