.main_navigation {
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include transition($transition-base);
  background: #1d1d1d;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo_img {
      width: 100%;
      max-width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      @include chalk(400, 14, 20px);
      margin-left: 10px;
    }
  }

  .menu_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .main_nav_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #1d1d1d;
    width: 100%;
    height: 100dvh;
    opacity: 0;
    @include transition($transition-base);
    visibility: hidden;
    padding: 10px 24px;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      opacity: 1;
      visibility: visible;
      position: relative;
      height: auto;
      width: auto;
      margin-left: auto;
    }

    &.nav_open {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav_wrapper_mobile_header {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      flex-direction: row;
    }

    a,
    .my_account {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 16px;
      border-bottom: 2px solid #2cb75f;
      padding-bottom: 8px;
      display: flex;
      position: relative;
      @include media-breakpoint-up(lg) {
        margin: 0 12px 0;
        padding-bottom: 0;
        border-bottom: none;
        font-size: 16px;
      }

      &:after {
        content: "";
        width: 1px;
        height: 16px;
        background: #32cd32;
        position: absolute;
        top: 4px;
        right: -10px;
      }

      &:hover {
        color: #32cd32;
      }

      .icon {
        width: 100%;
        max-width: 24px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
      }

      .icon_user {
        margin-left: 0 !important;
      }
    }

    .user_menu {
      @include media-breakpoint-down(lg) {
        background: #000;
        padding: 12px;
      }
    }

    .my_account {
      display: flex;
      border-bottom: none;
      cursor: pointer;

      &:after {
        display: none;
      }

      .icon {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
      }
    }

    .account_menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include media-breakpoint-up(lg) {
        position: absolute;
        background: #000;
        padding: 10px;
        width: 100%;
        top: 50px;
        right: 0;
        max-width: 320px;
        opacity: 0;
        visibility: hidden;
      }

      &.open {
        opacity: 1;
        visibility: visible;
      }

      a {
        font-size: 14px;
        border-width: 1px;
        @include media-breakpoint-up(lg) {
          font-style: 16px;
          border-bottom: 1px solid green;
          padding: 10px 0;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  // .drop-menu-inner {
  //   position: absolute;
  //   top: 45px;
  //   right: 0;
  //   width: 100%;
  //   max-width: 240px;
  //   min-width: 240px;
  //   padding: 16px 8px;
  //   border-radius: 10px;
  //   box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px,
  //     rgba(0, 0, 0, 0.1) 0px 3px 8px;
  //   display: flex;
  //   flex-direction: column;

  //   a {
  //     width: 100%;
  //     padding: 10px 10px;
  //     border-radius: 5px;

  //     &:hover {
  //       background: #f2f2f2;
  //     }
  //   }

  //   hr {
  //     height: 1px;
  //     background: #e5e5e5;
  //     margin: 0.75rem 0;
  //   }
  // }
}
