.main_navigation {
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include transition($transition-base);
  background: #1d1d1d;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo_img {
      width: 100%;
      max-width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      @include chalk(400, 14, 20px);
      margin-left: 10px;
    }
  }

  .menu_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .main_nav_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #1d1d1d;
    width: 100%;
    height: 100dvh;
    opacity: 0;
    @include transition($transition-base);
    visibility: hidden;
    padding: 10px 24px;
    @include media-breakpoint-up(lg) {
      opacity: 1;
      visibility: visible;
      position: relative;
      height: auto;
      width: auto;
      margin-left: auto;
    }

    &.nav_open {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav_wrapper_mobile_header {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      flex-direction: row;
    }

    a {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 16px;
      border-bottom: 2px solid #2cb75f;
      padding-bottom: 8px;
      @include media-breakpoint-up(lg) {
        margin: 0 12px 0;
        padding-bottom: 0;
        border-bottom: none;
        font-size: 16px;
      }
    }
  }

  // .drop-menu-inner {
  //   position: absolute;
  //   top: 45px;
  //   right: 0;
  //   width: 100%;
  //   max-width: 240px;
  //   min-width: 240px;
  //   padding: 16px 8px;
  //   border-radius: 10px;
  //   box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px,
  //     rgba(0, 0, 0, 0.1) 0px 3px 8px;
  //   display: flex;
  //   flex-direction: column;

  //   a {
  //     width: 100%;
  //     padding: 10px 10px;
  //     border-radius: 5px;

  //     &:hover {
  //       background: #f2f2f2;
  //     }
  //   }

  //   hr {
  //     height: 1px;
  //     background: #e5e5e5;
  //     margin: 0.75rem 0;
  //   }
  // }
}
