.page_wrapper {
  padding: 40px 0;
  @include media-breakpoint-up(lg) {
    // padding: 120px 0;
  }

  &.small_pad {
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .main {
    width: 100%;
    @include media-breakpoint-up(lg) {
    }
  }

  .aside {
    width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 30%;
      margin-left: 24px;
    }
  }

  h1 {
    @include bank(normal, 24, 20px);
    letter-spacing: -1px;
    word-spacing: -5px;
    color: #2cb75f;
    margin-left: 0px;
    @include media-breakpoint-up(lg) {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
  }
}
