.page_wrapper {
  padding: 40px 0;
  @include media-breakpoint-up(lg) {
    // padding: 120px 0;
  }

  &.small_pad {
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .main {
    width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 70%;
    }
  }

  .aside {
    width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 30%;
      margin-left: 24px;
    }
  }

  h1 {
    @include bank(normal, 24, 20px);
    letter-spacing: -1px;
    word-spacing: -5px;
    color: #2cb75f;
    margin-left: 0px;
    @include media-breakpoint-up(lg) {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  .independant_headings {
    h2 {
      @include bank(normal, 24, 20px);
      letter-spacing: -1px;
      word-spacing: -5px;

      margin-left: -5px;
      margin-bottom: 10px;
    }
  }

  .upsell_featured {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    h2 {
      @include bank(normal, 24, 20px);
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #b9db96;
      margin-left: -5px;
      margin-bottom: 10px;
      @include media-breakpoint-up(lg) {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      background: #b9db96;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 25px;
      border-radius: 8px;
      color: #000;
      font-weight: 700;
      font-size: 14px;
      margin-top: 16px;

      .icon {
        width: 100%;
        max-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        margin-right: 8px;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
  }
}
