// .site_filter {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   .site_filter_inner {
//     max-width: 880px;
//     width: 100%;
//   }

//   .form_inner {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//   }

//   .form_search {
//     display: flex;
//     align-items: center;
//     padding: 10px;
//     width: 100%;

//     border-radius: 100px;
//     border: 1px solid #e5e5e5;
//     box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
//       0 0px 0 1px rgba(10, 10, 10, 0.02);
//   }
//   .form_row {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     padding-left: 15px;
//   }
//   label {
//     @include mont(600, 13, 100%);
//     color: $dark-blue;
//   }

//   input {
//     border: none;
//     outline: none;
//     background: none;
//     @include karla(500, 16, 120%);
//     color: $dark-blue;
//     width: 100%;
//     height: 25px;
//   }

//   button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     max-width: 43px;
//     height: 43px;
//     margin-left: 10px;
//     background: $dark-blue;
//     border-radius: 100px;
//     color: #fff;
//     cursor: pointer;

//     &.location {
//       margin-left: 0;
//     }

//     svg {
//       max-width: 24px;
//     }
//   }

//   // Filters
//   .form_filter {
//     margin-right: 10px;
//   }

//   .filter_title {
//     background: $dark-blue;
//     color: #fff;
//     padding: 10px 15px;
//     border-radius: 6px;
//     font-weight: 600;
//     position: relative;
//     cursor: pointer;

//     &.filter_title_active {
//       padding: 10px 25px 10px 15px;
//     }

//     .filter_title_count {
//       position: absolute;
//       top: -12px;
//       right: -12px;
//       width: 24px;
//       height: 24px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 100px;
//       background: $dark-blue;
//       border: 2px solid #fff;
//       font-size: 12px;
//       font-weight: 600;
//     }
//   }

//   .filter_clear_button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 5px 15px 5px 10px;
//     background: $dark-blue;
//     border-radius: 100px;
//     color: #fff;
//     font-weight: 600;
//     text-transform: uppercase;
//     font-size: 14px;
//     cursor: pointer;

//     .icon {
//       width: 100%;
//       max-width: 20px;
//       height: 20px;
//       margin-right: 5px;
//     }
//   }
// }
