.auth_pages_main {
  padding: 90px 0;
  @include media-breakpoint-up(lg) {
    padding: 120px 0;
  }

  .container {
    max-width: 640px;
  }

  .title_area {
    margin-bottom: 40px;
  }

  h2 {
    letter-spacing: -1px;
    word-spacing: -3px;
    color: #2cb75f;
    font-family: BankGothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    margin-top: 16px;
  }
}
