.auth_pages_main {
  padding: 90px 0;
  @include media-breakpoint-up(lg) {
    padding: 65px 0;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    min-height: 100vh;
  }
  .col {
    width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
  }

  .col_left {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
      height: 100vh;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .col_right {
    padding: 16px;
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
    }
  }
}
