.featured_business_banner {
  background: #000;
  padding-bottom: 10px;

  .featured_business_slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    @include media-breakpoint-up(lg) {
      height: 70vh;
    }
  }

  a {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include media-breakpoint-up(lg) {
      background-size: auto 100%;
    }
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // // display: flex;
  }

  img {
    @include media-breakpoint-up(lg) {
      // max-height: 70vh;
    }
  }

  .swiper-slide {
    opacity: 0 !important;

    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }
}
