.quote_list_wrapper {
  padding: 40px 0;

  .quote_item {
    background: #000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .quote_image {
    width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 30%;
    }

    img {
      border-radius: 8px 8px 0 0;
      @include media-breakpoint-up(lg) {
        border-radius: 8px 0 0 8px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .quote_body {
    width: 100%;
    padding: 18px;
    overflow: hidden;
  }

  .quote_title {
    position: relative;
    a {
      @include bank(normal, 18, 20px);
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

    .new {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: #32cd32;
      @include robot(600, 12, 14px);
      color: #000;
      padding: 5px 30px;
      top: -9px;
      right: -41px;
      transform: rotate(45deg);
      text-transform: uppercase;

      .icon {
        width: 100%;
        max-width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .quote_footer {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      width: 100%;
      align-items: center;
    }
  }

  .quote_meta {
    display: flex;
    margin-bottom: 7px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .meta_item {
    display: flex;
    font-size: 9px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    line-height: 10px;
    color: #e6e6e6;
    @include media-breakpoint-up(lg) {
      font-size: 12px;
    }

    .icon {
      width: 100%;
      max-width: 10px;
      color: #32cd32;
      display: flex;
      align-items: center;
      margin-right: 5px;
      @include media-breakpoint-up(lg) {
        max-width: 12px;
      }
    }
  }

  .quote_description {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #e6e6e6;
  }

  .quote_cta {
    // margin-top: 20px;
    width: 100%;
    max-width: 155px;

    .btn-green {
      // background: $green3;
      // border: 2px solid $green4;
      border-radius: 0 !important;
      @include bell(normal, 12, 22px);
      color: #000;
      padding: 8px 16px;
    }
  }

  .quotes_total {
    margin-bottom: 15px;
    span {
      @include robot(normal, 14, 18px);
      color: #fff;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
