.manage_single_business {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .manage_section {
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 10px;
    width: 100%;
    // max-width: calc(50% - 16px);
  }

  .ms_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      margin-left: -5px;
      font-family: BankGothic;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    a {
      text-transform: uppercase;
      background: #32cd32;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      line-height: 100%;
      margin-left: auto;
      padding: 10px 15px;
    }
  }

  .ms_desc {
    background: rgb(240, 253, 244, 0.1);
    border: 1px solid #2cb75f;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;

    h4 {
      margin: 0px;
      font-size: 0.95rem;
      font-weight: 600;
    }

    p {
      margin: 0px;
      font-size: 0.85rem;
      line-height: 1.4;
    }
  }

  .ms_body {
    margin-bottom: 16px;
  }

  .ms_footer {
    button {
      background: #2cb75f;
      padding: 10px 15px;
      color: #fff;
      margin: 0px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  //   Sections

  .categories {
    .categories_list {
      display: flex;
      flex-wrap: wrap;
    }

    .category_tag {
      color: #1d1d1d;
      background: #b9db96;
      border-radius: 5px;
      margin: 0 5px 5px;
      padding: 0 6px;
      font-size: 12px;
    }
  }
}
