.manage_single_business {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .manage_section {
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 10px;
    width: 100%;
    // max-width: calc(50% - 16px);
  }

  .ms_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      margin-left: -5px;
      font-family: BankGothic;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .ms_desc {
    background: rgb(240, 253, 244, 0.1);
    border: 1px solid #2cb75f;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;

    h4 {
      margin: 0px;
      font-size: 0.95rem;
      font-weight: 600;
    }

    p {
      margin: 0px;
      font-size: 0.85rem;
      line-height: 1.4;
    }
  }

  .ms_body {
    margin-bottom: 16px;
  }

  .ms_footer {
    display: flex;
    button {
      background: #2cb75f;
      padding: 10px 15px;
      color: #fff;
      margin: 0px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    a {
      text-transform: uppercase;
      background: #32cd32;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      line-height: 100%;
      margin-left: auto;
      padding: 10px 15px;
    }
  }

  //   Sections
  .logo {
    .ms_body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .site_logo {
      img {
        max-width: 200px;
      }
    }
  }

  .categories {
    .categories_list {
      display: flex;
      flex-wrap: wrap;
    }

    .category_tag {
      color: #1d1d1d;
      background: #b9db96;
      border-radius: 5px;
      margin: 0 5px 5px;
      padding: 0 6px;
      font-size: 12px;
    }
  }

  .hours {
    .hours_row {
      display: flex;
      align-items: center;
      font-size: 14px;
      border-bottom: 1px solid #2cb75f;
      padding: 10px 0;
    }

    .time {
      margin-left: auto;
    }
  }

  .social {
    .social_item {
      display: flex;
      border-bottom: 1px solid #2cb75f;
      padding: 10px 0;
      align-items: center;
    }

    .icon {
      height: auto;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .videos {
    .video_card {
      border-bottom: 1px solid #2cb75f;
      padding: 0 0 10px;
      display: flex;
    }

    .video_thumbnail {
      position: relative;
      width: 100%;
      max-width: 90px;
    }

    .play_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        max-width: 32px;
        height: auto;
      }
    }

    .video_info {
      width: 100%;
      margin-left: 16px;
    }
  }

  .gallery {
    .gallery_grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .gallery_item {
      // display: flex;
      // flex-direction: column;
      width: 100%;
      max-width: 100px;
      // height: 100%;
    }

    .label {
      color: #1d1d1d;
      background: #b9db96;
      text-align: center;
      font-weight: 600;
      padding: 0 6px;
      font-size: 12px;
    }

    .file_preview {
      height: 100px;
    }

    .img_preview {
      height: 100px;
      img {
        object-fit: cover;
        height: 100px;
      }
    }
  }

  .see_more_links {
    display: flex;
    margin-bottom: 60px;
    gap: 16px;
    width: 100%;

    a {
      color: #fff;
      text-transform: uppercase;
      background: #2cb75f;
      margin: 0;
      padding: 10px 15px;
      font-size: 12px;
      font-weight: 600;
    }

    a.view_link {
      margin-left: auto;
      background: none;
    }
  }
}
