.account_selector {
  margin: 40px 0;

  .section_title {
    margin-bottom: 24px;
    h2 {
      @include bank(normal, 24, 20px);
      letter-spacing: -1px;
      word-spacing: -5px;
      color: #2cb75f;
      margin-left: -5px;
      margin-bottom: 10px;
      @include media-breakpoint-up(lg) {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 120%;
      color: #fff;
    }
  }
}
